[
 {scuttleberl, [{web_port, 8080},
             {nova_applications, [
                                  #{
                                    name => scuttleberl,
                                    routes_file => "priv/scuttleberl.routes.erl"
                                   }
                                 ]}]}
].
